
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eula</title>
    <link href="../../Content/medg/css/style.css" rel="stylesheet" />
    <link href="../../Content/medg/css/fonts.css" rel="stylesheet" />
    <link href="../../Content/medg/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="lightbox lightbox-min" id="log-outPop" style="display:block">
        <div class="scrollSec logoutScrn">
            <h2>Accept Eula</h2>
            <div class="alert alert-danger">EULA Doc content</div>
            <form method="post">
                <div class="form-group">
                    Do you accept the site terms and conditions (whatever those might be)?
                </div>
                <div class="form-group buttonsRow">
                    <button class="btn btnYes" name="button" value="yes">Yes</button>
                    <button class="btn btnCancel" name="button" value="no">No</button>
                </div>
            </form>
            @*@using (Html.BeginForm())
                    {
                    <div class="reg-row">
                        <label for="First">First Name</label>
                        @Html.TextBoxFor(x => x.First, new { @class = "form-control" })
                    </div>
                        <div class="reg-row">
                            <label for="Last">Last Name</label>
                            @Html.TextBoxFor(x => x.Last, new { @class = "form-control" })
                        </div>
                        <div class="reg-row buttonsRow">
                            <button class="registerBtn">Register</button>
                        </div>
                }*@
    	</div>
    </div>
    <div class="popupShadow" style="display:block"></div>
    <div>
        
    </div>
</body>
</html>
