*{
	padding: 0;
	margin: 0;
}
.loginbg {
	background:#1e2426 url(../images/bg.jpg) no-repeat;
	background-size: cover; 
}
img {
	max-width: 100%;
	height: auto;
}
.loginSection {
	margin: auto;
	max-width: 410px;
	padding-top: 94px;
}
.loginLogo {
	margin: auto;
	display: block;
	width: 80%;
}
.formBlock {
	clear: both;
	padding: 40px 0;
}
.formBlock input[type="text"],.formBlock input[type="password"]{
	border: none;
	height: 45px;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	font-family: 'Droid Serif', serif;
	font-size: 20px;
	line-height: 45px;
	padding: 0 20px;
	color: #a9aaaa;
	border-radius: 8px;
	margin-top: 26px;
	box-shadow: inset 0 2px 10px #000;
	background:#2c3233;
}
.formRow1 {
	padding: 10px 7px 0;
	clear: both;
	font-family: 'Droid Serif', serif;
}
.formRow1 label,.formRow1 a {
	color: #fff;
	font-size: 14px;
	float: left;
	width: 50%;
	cursor: pointer;
}
.formRow1 a {
	text-align: right;
	text-decoration: none;
}
#remember {
	position: relative;
	top: 2px;
}
.formBlock input[type="submit"]{
	border: none;
	height: 45px;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 20px;
	line-height: 45px;
	padding: 0 50px;
	color: #ffffff;
	border-radius: 6px;
	margin: 53px auto 0;
	display: block;
	cursor: pointer;
	box-shadow: inset 0 2px 10px #fff;
	background:#0abe23;
}
body {
	background:#eceef2; 
}
header {
	height: 119px;
	background: url(../images/headerbg.jpg) no-repeat;
	background-size: cover;
}
.container {
	max-width: 1140px;
	margin: auto;
}
#logo {
	float: left;
	margin: 14px 0 0 5px;
}
header ul {
	float: right;
	padding: 42px 0 0 0;
}
header ul li {
	float: left;
	list-style: none;
	margin-left: 38px;
}
header ul li:first-child {
	margin:0;
}
header ul li a {
	position: relative;
	color: #fff;
	font-size: 20px;
}
.logout
{
    background:#0072c6;
    color:white;
    border-radius:25px;
    height:30px;
    line-height:30px;
    font-size:14px;
    padding:0 14px;
    margin-left:10px;
    text-align:center;
    display:inline-block;
    text-decoration:none;
}
.notification {
	position: absolute;
	right: -8px;
    top: -14px;
	padding: 3px 5px;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	box-shadow: 0 0 3px #555;
	background: #f4343f;
}
.main {
	clear: both;
	padding: 0 0 50px;
}
.main h2 {
	color: #585858;
	font-size: 14px;
	font-family: 'Droid Serif', serif;
	line-height: 22px;
	text-align: right;
	padding: 15px 0 0 0;
	font-weight: 400;
}
.appSection {
	clear: both;
}
.appSection h3 {
	position: relative;
    color: #fff;
    font-size: 16px;
    font-family: 'Droid Serif', serif;
    line-height: 22px;
    padding: 12px 10px;
    font-weight: 400;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    margin: 20px 0 0;
    background: url(../images/collapse-bg.gif) repeat; 
}
.appSection h3::after {
	position: absolute;
	right: 15px;
	top: 15px;
	content: '';
	width: 0;
	height: 0;
	border-left: 12px solid #fff;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.appSection h3.active::after {
	top: 18px;
	border-top: 12px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	
}
.tabContent.active {
	display: block !important;
}
.tabContent {
	border: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    overflow-y: hidden;
}
.contSection {
	position: relative;
    margin: 0;
    padding: 5px 0;
}
.logoRow {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	width: 200px;
	text-align: center;
}
.tableCont {
	box-sizing: border-box;
    clear: both;
    float: left;
    padding: 0 15px 25px 215px;
    position: relative;
    width: 100%;
}
.appSection table {
    width: 100%;
    clear: both;
    font-size: 15px;
    padding: 10px 0 0;
    font-family: 'Droid Serif', serif;
}
.appSection table thead tr th:first-child,.appSection table tbody tr td:first-child {
	text-align: left;
}
.appSection table thead tr th {
	color: #0072c6;
	font-weight: 700;
	line-height: 20px;
	padding: 5px 3px 15px;
	width: 33.333%;
    text-align: left;
    box-sizing: border-box;
}
.appSection table tbody tr td:first-child {
	color: #585858;
}
.appSection table tbody tr td {
	color: #a7a7a7;
	padding: 2px 0;
	cursor: pointer;
	width: 33.333%;
	text-transform: capitalize;
}
.appSection table tbody tr td.visit {
	color: #0072c6;
}
.appSection table tbody tr td button {
	height: 32px;
	line-height: 32px;
	color: #fff;
	width: 165px;
	box-sizing: border-box;
	padding: 0 10px;
	border-radius: 4px;
	border:0;
	cursor: pointer;
	font-weight: 400; 
	border-bottom: 3px solid #0b9c1f;
	background: #0abe23;
}
.appSection table tbody tr td button i {
	float: left;
	line-height: 32px;
}
.closeIcon {
	position: absolute;
	right: 7px;
	top: 7px;
	width: 25px;
	height: 25px;
	border:1px solid #ccc;
	border-radius: 40px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.46); 
}
.lightbox {
	position: fixed;
    max-width: 720px;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    z-index: 99;
	overflow:auto;
	width:90%;
	display: none;
	box-sizing: border-box;
	border:5px solid #585858;
	font-family: 'Droid Serif', serif; 
	background: #fff;
}
.lightbox-wid {
	max-width: 860px;
}
.scrollSec {
	padding: 10px 25px;
}
.popupShadow {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	background: rgba(0,0,0,0.5);
	z-index: 8;
}
.lightbox h2 {
	text-align: center;
	color: #0072c6;
	font-size: 22px;
	line-height: 30px;
}
.lightbox h2 span {
	color: #00b050;
}
.resourceContSec1 {
	clear: both;
	padding: 20px 0 0;
}
.resourceContSec1Left,.resourceContSec1Right {
	float: left;
	width: 50%;
}
.resourceRow {
	clear: both;
	line-height: 90px;
}
.resourceRow img {
	float: left;
	width: 90px;
	margin: 0 20px 0 0;
}
.resourceRow h3 {
	color: #585858;
	font-size: 18px;
}
.resourceSectionLogo {
	width: 120px;
	margin-top: 10px;
}
.resourceForm {
	width: 100%;
	float: right;
}
.resourceForm input[type="text"],.resourceForm select{
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	line-height: 35px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: #585858;
	font-size: 15px;
	border-radius: 8px;
	font-family: 'Droid Serif', serif;
	border:1px solid #afabab;
	box-shadow: 0 2px 5px rgba(0,0,0,0.6); 
	background: #fff;
}
.resourceForm select {
	padding-left: 8px;
}
.resourceForm input[type="text"]::-webkit-input-placeholder { 
  color: #585858;
}
.resourceForm input[type="text"]::-moz-placeholder { 
  color: #585858;
}
.resourceForm input[type="text"]:-ms-input-placeholder {
  color: #585858;
}
.resourceForm input[type="text"]:-moz-placeholder { 
  color: #585858;
}
.buttonsRow {
	clear: both;
	text-align: center;
}
.buttonsRow button {
	display: inline-block;
	margin: 0 5px;
	height: 32px;
	line-height: 32px;
	padding: 0 25px;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	color: #fff;
	min-width: 100px;
}
.btn-cancel {
	border:0;
	border-bottom: 3px solid #a6a6a6;
	background: #a6a6a6;
}
.btn-share {
	border:0;
	border-bottom: 3px solid #0b9c1f;
	background: #0abe23;
}
.btn-share i {
	float: left;
	line-height: 32px;
}
.resourceTable,.requestsTable {
	width: 100%;
	text-align: left;
	font-family: 'Droid Serif', serif;
	color: #585858;
	padding: 40px 0 0;
	border:0;
	border-bottom: 1px solid #e7e6e6;
}
.requestsTable th,.requestsTable td {
	border-left: 1px solid #e7e6e6;
	box-sizing: border-box;
	padding: 5px 8px;
	font-size: 14px;
}
.resourceTable th,.resourceTable td {
	border-left: 1px solid #e7e6e6;
	box-sizing: border-box;
	width: 50%;
	padding: 5px 8px;
}

.resourceTable th:first-child,.resourceTable td:first-child,.requestsTable th:first-child,.requestsTable td:first-child {
	border-left: none;
}
.requestsTable td:first-child,.resourceTable td:first-child {
	width: 150px;
	word-break: break-word;
}
.resourceTable td,.requestsTable td {
	border-top: 1px solid #e7e6e6;
}
.requests_title.requests_title {
	line-height: 50px;
	margin-top: -10px;
}
.requests_title img {
	width: 50px;
	position: relative;
    top: 16px;
    margin-right: 10px;
}
.lightbox h4 {
	font-family: 'Droid Serif', serif;
	color: #585858;
	font-size: 18px;
	padding: 15px 0 0;
}
.requestsTable {
	padding-top: 20px;
}
.requests-btn-cancel,.requests-btn-share {
	width: 120px;
	float: none;
	display: block;
	margin: 5px auto 5px;
	height: 32px;
	line-height: 32px;
	padding: 0 25px;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	color: #fff;
}
.scroll {
	clear: both;
    overflow-x: auto;
}
.selectPermission {
	position: relative;
    z-index: 9;
}
.selectLabel {
	position: relative;
	width: 100%;
	height: 35px;
    margin-bottom: 20px;
	line-height: 35px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: #585858;
	font-size: 15px;
	border-radius: 8px;
	font-family: 'Droid Serif', serif;
	border:1px solid #afabab;
	box-shadow: 0 2px 5px rgba(0,0,0,0.6); 
	background: #fff;
	cursor: pointer;
}
.selectLabel::after {
	content: '';
	position: absolute;
	right: 10px;
	top: 12px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #585858;
}
.selectPermission ul {
	position: absolute;
	left: 0;
	right: 0;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	max-height: 120px;
	overflow-y: scroll;
	height: 0;
	color: #585858;
	font-size: 15px;
	line-height: 20px;
	border:1px solid #afabab;
	box-shadow: 0 2px 15px rgba(0,0,0,0.6); 
	background: #fff;
	margin: -30px 0 0;
	padding: 3px 0;
	top: -50%;
	height: 120px;
}
.selectPermissionActive ul {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
}
.selectPermission ul li {
	position: relative;
	list-style: none;
	cursor: pointer; 
	border-top:1px solid #afabab;
}
.selectPermission ul li label{
    display: block;
    padding: 5px 10px;
    line-height: 23px;
}
.selectPermission ul li label input {
    display: none;
}
.selectPermission ul li label span {
    position: relative;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 6px;
    border: 2px solid #1a7f5f;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    background: #fff;
}
.selectPermission ul li label span::before {
    position: absolute;
	left: 4px;
	top: 6px;
	content: '';
	width: 10px;
	height: 3px;
	transform: rotate(45deg);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.selectPermission ul li label input:checked + span {
    background: #1a7f5f;
}
.selectPermission ul li label input:checked + span::before {
	transform: rotate(-45deg);
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.selectPermission ul li.active {
	color: #00b050;
	font-weight: 700;
	box-shadow: inset 0 0 5px rgba(0,176,80,0.34);
}
.selectPermission ul li:first-child {
	border:none;
}
.Listpermission ul {
    margin-top: -25px;
    margin-bottom: 20px;
    line-height: 35px;
    padding: 13px 5px 4px;
    box-sizing: border-box;
    outline: none;
    color: #585858;
    font-size: 15px;
    border-radius: 0 0 8px 8px;
    font-family: 'Droid Serif', serif;
    border: 1px solid #afabab;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.Listpermission li,.scopeData li {
    position: relative;
    display: inline-block;
    border: 1px solid #afabab;
    border-radius: 26px;
    padding: 4px 20px 4px 8px;
    cursor: pointer;
    line-height: 18px;
    list-style: none;
    margin: 2px;
    font-size: 14px;
    background: #eee;
}
.Listpermission li::after,.scopeData li::after {
    position: absolute;
    right: 3px;
    top: 50%;
    display: block;
    content: 'x';
    margin: -8px 0 0 0;
    border-radius: 40px;
    width: 15px;
    height: 15px;
    font-size: 11px;
    text-align: center;
    background: #ccc;
    line-height: 15px;
}


@media (max-width: 1200px){
	.container {
		max-width: 1024px;
	}
}

@media (max-width: 760px){
.appSection table {
	width: 400px;
}
.requestsTable td:first-child {
	width: auto;
}
.container {
	padding: 0 15px;
}
.lightbox {
    max-width: 500px;
}
.resourceRow img {
    margin: 0 10px 0 0;
    width: 64px;
}
.resourceRow h3 {
    font-size: 15px;
}
.resourceRow {
    line-height: 67px;
    margin: auto;
    width: 177px;
}
.resourceSectionLogo {
    margin: 20px auto;
    width: 120px;
}
.resourceContSec1Left, .resourceContSec1Right {
    width: 100%;
}	
}
@media (max-width: 640px){

.loginLogo {
	width: 130px;
}
.loginSection {
	padding: 20px 15px 0;
}

#logo {
	width: 150px;
	height: 65px;
}
header ul {
	padding-top: 23px;
}
header {
	height: 65px;
}
.main h2,.contSection table {
	font-size: 14px;
}
.contSection table tbody tr td button {
	width: 84px;
}
header ul li {
	margin-left: 20px;
}


}
@media (max-width: 520px){
.lightbox {
	margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}
.btn-share {
	width: 120px;
}	
}