*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
}
body{
	font-family: 'Scope One', serif;
}
.form-row {
    clear: both;
    padding: 10px 0;
}
.form-row::before, .form-row::after {
    content: '';
    clear: both;
    display: block;
}
.form-row{
	clear: both;
	padding: 15px 0;
}
.form-row::before,.form-row::after {
	content: '';
	clear: both;
	display: block;
}
.col-lg-8,.col-lg-4,.col-lg-6,.col-lg-12,.col-lg-9,.col-lg-3 {
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}
.col-lg-8 {
	width: 66.66666667%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-4 {
	width: 33.33333333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-12 {
	width: 100%;
}
.row {
	margin: 0 -15px;
}
img {
	max-width: 100%;
	height: auto;
	padding: 0;
}
.mainContent {
	/*position: relative;*/
	min-height: 100%;
	margin: 0 0 -50px 0;
	background: url(../images/bagScreen.jpg) no-repeat center top;
	background-size: cover;
}
.main {
	position: relative;
}
footer,.push {
	height: 50px;
}
.container {
	margin: auto;
	width: 1140px;
}
header {
	height: 116px;
    border-bottom: 4px solid #fff;
	background:rgba(255,255,255,0.64);
}
header .container {
    position: relative;
}
header h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 31px;
    color: #ce2129;
}
header h2 strong {
    color: #1e3665;
}
header h2 span {
    display: block;
    font-size: 16px;
    color: #ce2129;
    padding-top: 3px;
}
header h2 .mainHead{
    display: inline-block;
    background-color: white;
    font-size: 22px;
    color: #ce2129;
    padding: 5px 40px;
}
#logo {
	float: left;
	margin: 22px 0 0 15px;
	width: 114px;
}
.right {
    float: right;
}
header .right {
    padding:27px 0 0 0; 
    position: relative;
    z-index: 3;
}		
.hNav {
	float: right;
	clear: both; 
}
.hNav li {
	float: left;
	list-style: none;
	padding-left: 30px;
}
.hNav li a {
	text-decoration: none;
	color: #203868;
	font-size: 18px;
}
.hNav li:first-child a{
	color: #ca252c;
}
.hamberMenu {
	float: right;
	width: 54px;
	height: 54px;
	border-radius: 40px;
	cursor: pointer;
	text-align: center;
	margin: 41px 15px 0 0;
	background: #12214e;
}
.hamberMenu span {
	display: block;
	margin: 5px auto 0;
	height: 2px;
	width: 23px;
	clear: both;
	cursor: pointer;
	background: #fff;
}
.hamberMenu span:first-child {
	margin-top: 20px;
}
.contentLeft,.contentRight {
	float: left;
	width: 65%;
	padding:0;
	box-sizing: border-box;
}
.contentRight {
	width: 35%;
	box-sizing: border-box;
	padding:0; 
    overflow-y: auto;
	background:rgba(255,255,255,0.64);
}
.main .container {
	background: rgba(255,255,255,0.5);
}
.main::after,.main::before {
	content: '';
	display: block;
	clear: both;
}
.sec-heading {
	font-size: 16px;
	line-height: 40px;
	padding: 0 15px;
	color: #12214e;
	box-sizing: border-box;
	background: rgba(255,255,255,0.64);
}
.viewSection {
	padding-bottom: 15px;
}
.userList {
	overflow-y: auto;
    margin: 0 -15px;
}
.userList li {
	position: relative;
	float: left;
	width: 25%;
	cursor: pointer;
    box-sizing: border-box;
    padding: 15px;
	list-style: none;;
}
.userList li span {
	display: block;
	width: 68px;
	height: 68px;
	margin: auto;
	line-height: 68px;
	text-align: center;
	border-radius: 40px;
	background: #12214e;
}
.userList li span img {
	vertical-align: middle;
}
.userList li label {
	display: block;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
	font-size: 13px;
	text-align: center;
	margin: -6px 0 0 0;
	background: #12214e;
}
.viewShareSectionList li span,.viewShareSectionList li label {
	background: #49a723;
}
.requestingSectionList li span,.requestingSectionList li label {
	color: #676768;
	background: #fff;
}
.requestingSectionList .listGrid:hover {
    border-color: #ce2129;
}
.listGrid {
    /*position: relative;*/
    cursor: pointer;
    padding: 5px 7px;
    clear: both;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #b0b0b0;
    background: #ffffff;
}
.listGrid h4 {
    clear: both;
    font-size: 13px;
    color: #1e3665;
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #c8c8c8;
}
.listGrid h5 {
    color: #1e3665;
    font-size: 13px;
    line-height: 16px;
}
.listGrid strong {
    color: #7d7d7e;
     font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.requestingSectionList .listGrid strong {
    color: #ce2129;
}
.listGrid em {
    font-style: normal;
}
.usrPic {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    background: #1e3665;
}
.gridHeadings {
    padding-left: 25px;
}
.gridHeadings h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.viewShareSectionList .usrPic {
    background: #49a723;
}
.requestingSectionList li {
    width: 100%;
    padding: 15px 30px;
    padding-bottom: 5px;
}
.requestingSectionList {
    margin: 0;
}
.requestingSectionList .usrPic {
    background: #a5a6a6;
}
.requestingSectionList .listGrid {
    border: 2px dashed #b9b9b8;
}
.requestingSectionList .listGrid h4 {
    text-align: center;
}
.userList p {
    color: #7a7a7a;
    font-size: 13px;
    line-height: 16px;
}
.listGrid  .clsUsr {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 18px;
	height: 18px;
	border-radius: 40px;
	text-align: center;
	line-height: 18px;
	color: #fff;
	background: #ce2129;
}
.requestingSectionList .listGrid .clsUsr {
    right: 22px;
    color: white;
}
.searchBar {
	position: relative;
    margin: 0 0 0 10px;
}
.searchBar input[type="text"]{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 35px 0 10px;
	outline: none;
	color: #13224f;
	font-size: 14px;
	box-sizing: border-box;
	font-weight: 700;
	border: none;
    border-radius:3px;
	background: #fff;
}
.searchBar .srchIcon {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 45px;
	text-align: center;
	line-height: 39px;
	cursor: pointer;
}
.searchBar .srchIcon img {
	vertical-align: middle;
}
.tabModule {
    position: relative;
    z-index: 9;
}
.tabModule::before,.tabModule::after {
	content: '';
	display: block;
	clear: both;
}.tabMenu {
	margin: 0 -15px;
	height: 115px;
	position: relative;
}
.tabMenu li {
	list-style: none;
	float: left;
    margin: 0 15px;
    cursor: pointer;
}
.tabMenu li span {
	position: relative;
	display: block;
}
.tabMenu li span a {
	display: block;
    position: relative;
	height: 40px;
	color: #1e3665;
	font-size: 15px;
	min-width: 170px;
	text-align: center;
	padding: 5px 0 0;
	line-height: 40px;
	text-decoration: none;
	background: #fff;
}
.tabMenu li a::after {
    content: '';
    display: block;
    border-top: 12px solid #fff;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
}
.tabMenu li.active a {
    color: #fff;
    background: #1e3665;
}
.tabMenu li.active a::after {
    content: '';
    display: block;
    border-top: 12px solid #1e3665;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
}
.tabMenu ul {
	position: absolute;
	left: 0;
	right: 0;
    top: 75px;
    padding: 0 0 0 20px;
	width: 100%;
	display: none;
}
.tabMenu ul.active {
	display: block;
}
.tabMenu li span a {
    font-weight: bold;
}
.subUl li {
	position: relative;
	border-bottom: 3px solid transparent;
	margin: 0 13px;
	cursor: pointer;
}
.subUl li strong {
	position: relative;
	display: block;
	line-height: 40px;
	color: #1e3665;
	font-size: 16px;
}
.subUl li strong::before {
	position: absolute;
	left: -13px;
	top: 9px;
	content: '';
	display: block;
	height: 20px;
	width: 1px;
	background: #fff;
}
.subUl li:first-child strong::before {
	content: none;
}
.subUl li.active {
	border-color: #ce2129;
}
.subUl li.active strong {
	color: #ce2129;
}
.tabModuleSelectData{
    position: relative;
}
.listGridUL {
    overflow: hidden;
    overflow-y: auto;
}		
.tabModuleSelectData::before {
    content: '';
    width: 100%;
    position: absolute;
    top: -40px;
    height: 40px;
    padding: 0 15px;
    color: #12214e;
    box-sizing: border-box;
    background: rgba(255,255,255,0.64);
}
.listGridUL {
    margin: 0 0 0 -15px;
    padding: 15px 0 0;
}
.listGridUL li {
    width: 100px;
    float: left;
    list-style: none;
    text-align: center;
    margin: 15px;
    position: relative;
}
.gridImgSec {
    width: 100px;
    line-height: 50px;
    cursor: pointer;
    background: white;
    height: 100px;
}
.listGridUL li.active .gridImgSec {
    background: #ce2129;
}
.shareBtns {
    height: 20px;
    margin-top: 6px;
    display: table;
    width: 100%;
    border:3px solid #12214e;
}
.shareBtns > div {
    display: table-row;
}
.shareBtns .btn {
    display: table-cell;
    border: none;
    outline: none;
    line-height: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight:700;
    padding-top: 3px;
}
.shareBtns .btn-view {
    color: #12214e;
    background: #fff;
}
.shareBtns .btn-share {
    color: #fff;
    background: #12214e;
}
.shareBtns .btn-request {
    color: #12214e;
    background: #fff;
}
/*.listGridUL li.active span {
    color: white;
}*/
.listGridUL li img {
    vertical-align: middle;
}
.listGridUL li span {
    display: block;
    color: #12214e;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
    font-weight:700;
}
.listGridUL li.active .gridTitle {
    color:#fff;
}

.viewUserList .select .listGrid {
    position: relative;
    border-color: #ce2129;
}
.viewUserList .select .listGrid:after{
    position: absolute;
    right: 6px;
    top: 6px;
    content: '';
    width: 10px;
    height: 5px;
    border: 3px solid #1de130;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    z-index: 3;
}
footer {
	position: relative;
    line-height: 50px;
	background: #12214e;
}
.copyright {
    float: left;
    color: #fff;
    font-size: 13px;
}
.socialM {
    float: right;
    padding: 18px 0 0 0;
}
.socialM li {
    float: left;
    list-style: none;
    padding: 0 10px;
}
.socialM li a {
    display: block;
    width: 22px;
    height: 17px;
    font-size: 0;
    background: url(../images/socialIcons1.png) no-repeat left top;
}
.socialM .yahoo a {
    background-position: 0 -2px;
}
.socialM .Instagram a {
    background-position: -29px -1px;
}
.socialM .facebook a {
    background-position: -56px 0;
}
.socialM .twitter a {
    background-position: -79px 0;
}
.socialM .google a {
    background-position: -112px 0;
}
.socialM .hotmail a {
    background-position: -142px 0;
}
.arrowCntrl {
	position: absolute;
	height:45px;
	width: 45px;
	border-radius: 40px;
	left: 50%;
	top: -22px;
	background: #12214e;
	z-index: 9999;
}

.catagoryDetails {
    transition: all 0.4s ease-in;
}
.reportBlock {
    position: relative;
    overflow-y:auto;
}
.smallWn {
	bottom: 0;
}
#data-disp {
    padding-bottom: 80px;
}
.revokeClose {
    background-color: #ce212a;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    color: white;
    vertical-align: middle;
    outline: none;
}
.revokeClose img {
    width: 25px;
}
/*.catagoryContent{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 24px 0 0 0;
	overflow-y: auto;
}*/
/*.catagoryContent .container {
	background: none;
}*/
.catagoryContent h3 {
	padding-bottom: 10px;
}
.slideUp{
	width: 0;
	height: 0;
	position: absolute;
	top: 8px;
	cursor: pointer;
	left: 50%;
	margin: 0 0 0 -5px;
	border-bottom: 8px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.slideDown{
	width: 0;
	height: 0;
	position: absolute;
	bottom: 8px;
	cursor: pointer;
	left: 50%;
	margin: 0 0 0 -5px;
	border-top: 8px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

/*Popup CSS Here*/

.tabSectionMenu {
	clear: both;
	position: relative;
}
.tabSectionMenu li {
	float: left;
	line-height: 35px;
	color: #2a6496;
	font-weight: 700;
	font-size: 16px;
	padding: 0 12px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
	background: #eee;
	list-style: none;
	border-bottom: 4px solid transparent;

}
.tabSectionMenu li:first-child {
	margin-left: 0;
}
/*.tabSectionMenu li:first-child{
	border-radius: 8px 0 0 0;
}
.tabSectionMenu li:last-child{
	border-radius: 0 8px 0 0;
}*/
.tabSectionMenu li:nth-child(1){
	border-color:#4772b5;
}
.tabSectionMenu li:nth-child(2){
	border-color:#a71b1b;
}
.tabSectionMenu li:nth-child(3){
	border-color:#bb911e;
}
.tabSectionMenu li:nth-child(4){
	border-color:#31b543;
}
.tabSectionMenu li:nth-child(5){
	border-color:#7a7a7a;
}
.tabSectionMenu li.active {
	color: #fff;
}
.tabSectionMenu li.active:nth-child(1){
	background: #4772b5;
}
.tabSectionMenu li.active:nth-child(2){
	background: #a71b1b;
}
.tabSectionMenu li.active:nth-child(3){
	background: #bb911e;
}
.tabSectionMenu li.active:nth-child(4){
	background: #31b543;
}
.tabSectionMenu li.active:nth-child(5){
	background: #7a7a7a;
}
.tabContentContainer {
	clear: both;
	margin-top: -2px;
	padding-bottom: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.tabIntro {
	clear: both;
	color: #333;
	padding: 0 15px 20px;
}
.tabIntro h2 {
	font-size: 18px;
	line-height: 22px;
	clear: both;
}
.tabIntro p {
	clear: both;
	font-size: 14px;
	line-height: 20px;
	padding: 12px 0 0 0;
}
.tabContSec {
	display: none;
	clear: both;
	padding: 20px 0 0 0;
	border: 1px solid #ddd;
}
.tabContSec.active {
	display: block;
}
.tabContSec h2{
	line-height: 30px;
	padding: 0 15px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	background: #eee;
}
.tabContSec h3{
	line-height: 30px;
	padding: 0 15px 0;
	font-size: 15px;
	font-weight: 700;
	color: #333;
}
.tabContSec h4{
	line-height: 30px;
	padding: 0 15px;
	font-size: 13px;
	color: #333;
}
.accordian {
	overflow: hidden;
	margin: 10px 15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.accordian > li {
	font-size: 14px;
	list-style: none;
	padding: 10px 15px;
	border-top: 1px solid #ddd;
}
.accordian > li:first-child {
	border: none;
}
.accordianHeading {
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}
.accorDropdown {
	clear: both;
	display: none;
}
.accorDropdown li {
	position: relative;
	font-size: 14px;
	list-style: none;
	padding: 5px 15px;
	cursor: pointer;
	line-height: 20px;
}
.accorDropdown li::before {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 30px;
	position: absolute;
	left: 2px;
	top: 15px;
	background: #333;
}
.accorDropdown li address,.accorDropdown li p {
	font-style: normal;
	padding: 10px 0 0;
}
.contSection {
	padding: 15px;
	font-size: 14px;
	line-height: 20px;
}
.contSection a {
	color: #2a6496;
	text-decoration: none;
}
.contSection p {
	margin-bottom: 10px;
}
.rightsCls h2 {
	background: #4772b5;
}
.choicesCls h2 {
	background: #a71b1b;
}
.disclosuresCls h2 {
	background: #bb911e;
}
.obligationsCls h2 {
	background: #31b543;
}
.scopesCls h2{
    background: #7a7a7a;
}
.hidden-print {
	display: inline-block;
	width: 200px;
	margin: auto;
	outline: none;
	border: 1px solid transparent;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	/*vertical-align: middle;*/
	background-image: none;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 25px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-top: 10px;
}
.hidden-print[disabled="disabled"] {
    cursor: not-allowed;
	color: #ce2129;
	background-color: darkgray;
    border: 1px solid transparent;
}
.hidden-print {
	color: #fff;
	cursor: pointer;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.requestDeny {
    background-color: #ce2129;
    border-color: #ce2129;
}
.scpChck {
    position:absolute;
    display:inline-block;
    left:15px;
    top:1px;
    width:15px;
    height:15px;
    border:1px solid #7a7a7a;
    border-radius:3px;
    background:#fff;
}
.notification {
    width:20px;
    height:20px;
    border-radius:6px;
    background:#ce2129;
    color:white;
    font-size:11px;
    text-align:center;
    line-height:22px;
    display:inline-block;
    position:relative;
    top:-2px;
}
.scopesCls > div {
    padding:0 0 20px 23px;
}
.scopesCls div:first-of-type{
    padding-left:0;
}
.scopesCls label {
    position:relative;
    padding:0 0 0 40px;
}
.scopeInput {
    display:none;
}
.scopeInput:checked + .scpChck:after {
    content: '';
    width: 10px;
    height: 5px;
    position: absolute;
    top: 1px;
    left: 2px;
    border: 3px solid #31b543;
    border-top: none;
    border-right: none;
	  -webkit-transform: rotate(-45deg);
	          transform: rotate(-45deg);
}
#srchrest ul {
    max-height:160px;
    overflow-y:auto;
    background:#dce1e9;
}
#srchrest ul li{
    list-style:none;
    color:#333;
    text-align:center;
    font-size:14px;
    padding:7px 10px;
    border-top:1px solid #ccc;
}
#srchrest ul li .provideRow {
    padding:10px 0 0;
}
#srchrest ul li .provideRow a {
    width:40%;
    height:25px;
    font-size:13px;
    line-height:28px;
    color:#fff;
    display:inline-block;
    text-align:center;
    border-radius:6px;
    margin:0 5%;
    text-decoration:none;
    background:#1e3665;
}
.providesAcc {
    padding:10px 0;
    background:#dce1e9;
}
.providesAcc .provideRow {
    color:#333;
    font-size:14px;
    padding:4px 10px;
}
.providesAcc .provideRow label {
    min-width:80px;
    height:25px;
    line-height:25px;
    display:inline-block;
}
.providesAcc .provideRow select {
    line-height:25px;
    height:25px;
    width:130px;
    font-size:13px;
    font-family: 'Scope One', serif;
}
.providesAcc {
    text-align:center;
}
.providesAcc button {
    width:40%;
    height:25px;
    font-size:13px;
    line-height:25px;
    color:#fff;
    display:inline-block;
    text-align:center;
    border-radius:6px;
    margin:0 5px;
    text-decoration:none;
    outline:none;
    background:#1e3665;
    border: none;
    cursor: pointer;
}
.providesAcc .reqCancel {
    background:#ce2129;
}
.searchBar .sec-heading {
    margin-left: -10px;
    margin-top: 5px;
}
.searchRow {
    display: none;
    position: relative;
     margin-top: 5px;
     margin-right:10px;
}
.btnGroup {
    clear: both;
    padding: 13px 0;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
    /* padding: 0 45px 15px; */
    border-radius: 0 0 5px 5px;
    background: #12214e;
    margin-right: -25px;
    margin-left: -25px;
}
/*.requestingSectionList {
    display: none;
}*/
.sec-heading {
    position: relative;
}
.contentRight {
    position: relative;
    z-index: 0;
}
.contentRight .sec-heading::after {
    content: '';
    position: absolute;
    right: 11px;
    top: 14px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #203868;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.contentRight .sec-heading.active::after {
    right: 11px;
    top: 16px;
    border-bottom: inherit;
    border-top: 8px solid #203868;
}
/*Login CSS Here*/
.login {
	background: url(../images/loginBg.jpg) repeat-x left top;
}
.loginMain {
	min-height: 100%;
	margin-bottom: -40px;
}
.loginScreen {
	padding-top: 40px;
}
.loginLogo {
	margin: auto;
	display: block;
	width: 163px;
}
.loginSection {
	clear: both;
	padding:40px 0 0 0; 
}
.loginB {
	float: left;
	width: 459px;
	height: 423px;
	margin: 0 0 0 109px;
	box-sizing: border-box;
	padding: 140px 0 0 0;
	background: url(../images/login-block.png) no-repeat center top;
}
.emailRow {
	position: relative;
	clear: both;
	padding: 0 0 0 200px;
	height: 54px;
	line-height: 48px;
	box-sizing: border-box;
}
.emailRow i,.passwordRow i {
	color: #fff;
	float: left;
	height: 54px;
	line-height: 48px;
}
.email,.passwordRow .psw {
	float: left;
	margin: 0 0 0 50px;
	height: 50px;
	width: 162px;
	padding: 0;
	outline: none;
	color: #fff;
	font-size: 15px;
	line-height: 50px;
	border: none;
    font-family: 'Scope One', serif;
	background: none !important;
}
.email::-webkit-input-placeholder,.psw::-webkit-input-placeholder {
  color: #fff;
}
.email::-moz-placeholder,.psw::-moz-placeholder {
  color: #fff;
}
.email:-ms-input-placeholder,.psw:-ms-input-placeholder {
  color: #fff;
}
.email:-moz-placeholder,.psw:-moz-placeholder { 
  color: #fff;
}
.passwordRow {
	position: relative;
	clear: both;
	margin: 13px 0 0 162px;
	height: 54px;
	line-height: 48px;
	box-sizing: border-box;
}
.passwordRow .psw {
	margin-left: 48px;
	width: 150px
}
.remberRow {
	clear: both;
	padding: 4px 0 0 0;
}
.remberRow label {
	float: left;
	position: relative;
	color: #102649;
	font-size: 13px;
	padding-left: 19px;
}
.reChk {
	display: none;
}
.remberRow label span {
	position: absolute;
	width: 12px;
	height: 12px;
	float: left;
	top: 1px;
	left: 4px;
	background: #102649;
}
.remberRow label span:after {
    content: '';
    width: 6px;
    height: 3px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0.1;
	  -webkit-transform: rotate(-45deg);
	          transform: rotate(-45deg);
}
.remberRow label .reChk:checked + span:after {
    opacity: 1;
}
.frpsw {
	float: right;
    font-size: 13px;
    margin: 0 108px 0 0;
    text-decoration: none;
    color: #102649;
}
.loginRow {
	clear: both;
	padding:24px 0 0 0; 
}
.loginRow button {
	float: right;
	height: 29px;
	width: 110px;
	margin: 0 116px 0 0;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 11px;
	text-align: center;
	line-height: 29px;
	text-transform: uppercase;
	border-bottom: 3px solid #185b2e;
	background: #1c7c3d;
}
.orRow {
	float: left;
	width: 30px;
	height: 316px;
	margin: 65px 0 0 47px;
}
.orRow span {
	position: relative;
	top: 139px;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 40px;
	background: #1e3664;
}
.orRow span::before {
	position: absolute;
	top: -139px;
	left: 50%;
	width: 2px;
	height: 131px;
	content: '';
	background: #ce2029;
	margin: 0 0 0 -1px;
}
.orRow span::after {
	position: absolute;
	bottom: -139px;
	left: 50%;
	width: 2px;
	height: 131px;
	content: '';
	background: #1e3664;
	margin: 0 0 0 -1px;
}
.socialMedia {
	float: left;
    text-align:center;
	padding: 24px 0 0 93px;
}
.socialMedia h3 {
    clear:both;
    color:#1e3665;
    font-size:18px;
}
#externaprovider {
    width:120px;
    margin:auto;
}
.socialMedia li {
	list-style: none;
    display:inline-block;
	padding: 50px 5px 0;
}
.socialMedia li a {
    background-image: url(/Content/medg/images/socialicons.png);
    /*background-size: 25px 25px;*/
    height: 45px;
    background-repeat: no-repeat;
    width: 47px;
    display: block;
}
.socialMedia li a.gmail {
    background-position: -100px -50px;
}
.socialMedia li a.twitter {
    background-position: 0 0;
}
.socialMedia li a.facebook {
    background-position: 0 0;
}
.loginFooter,.loginPush {
	height: 40px;
}
.loginFooter {
	text-align: center;
	line-height: 40px;
	color: #1e3665;
	font-size: 13px;
	clear: both;
}
.Error {
	position: absolute;
	right: 0;
	top: 100%;
    display:none;
	height: 22px;
	min-width: 150px;
	color: red;
	border-radius: 5px;
	white-space: nowrap;
	padding: 0 15px;
	line-height: 22px;
	font-size: 12px;
	margin-top: -6px;
	background: #dee2e9;
}
.Error::before{
	content: '';
	display: block;
	position: absolute;
	top:-8px;
	left: 8px;
	border-bottom: 8px solid #dee2e9;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.invalid {
	clear: both;
	padding: 25px 0 0 0;
}
.invalid span {
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    background: #c52d26;
    margin: 0 0 0 210px;
}



/*lightbox css*/

.closeIcon {
	position: absolute;
	right: 7px;
	top: 7px;
	width: 25px;
	height: 25px;
	border:1px solid #ccc;
	border-radius: 40px;
	cursor: pointer;
	text-align: center;
	line-height: 29px;
	text-decoration: none;
	box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.46); 
}
.lightbox {
	position: fixed;
    max-width: 720px;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    z-index: 99999;
	overflow-y:auto;
	width:90%;
	display: none;
	box-sizing: border-box;
	border:5px solid #585858;
	transition: all 0.5s ease-in;
	background: #fff;
}
.lightbox-wid {
	max-width: 1140px;
}
.lightbox-allowedUsr {
	max-width: 700px;
}
#log-outPop.lightbox-min {
	max-width: 635px;
	border-radius: 5px;
    border-color: #f1f1f1;
    height: 200px !important;
    top: 50% !important;
    left: 50% !important;
    margin: -100px 0 0 -317px;
}

.scrollSec {
	padding: 10px 25px;
}
.popupShadow {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
}


/*Profile CSS Here*/

.mainContentProfile {
	margin-bottom: -132px;
}
.push1,.profileFooter {
	height: 132px;
}
.profileFooter {
	clear: both;
}
.profileCont {
	padding: 30px 0 0;
}
.profileCont h2 {
	color: #ce2129;
	font-size: 20px;
	line-height: 26px;
} 


/*Register CSS Here*/

.registerSec {
	clear: both;
	padding: 40px 0 0;
}
.registerSec h2 {
	color: #1e3665;
	font-size: 18px;
	margin-bottom: 30px;
	text-align: center;
	line-height: 35px;
	background: #f2f2f2;
}
.reg-row {
	clear: both;
	padding: 36px 0 0 0;
	text-align: center;
}
.reg-row label {
	display: inline-block;
	width: 120px;
	color: #ce2129;
	font-size: 16px;
	line-height: 37px;
}
.emailVal {
    display: inline-block;
	width: 290px;
	height: 37px;
	line-height: 37px;
	padding: 0 10px;
	font-size: 13px;
	border-radius: 4px;
	color: #fff;
	border: none;
	outline: none;
	background: #1e3665;
}
.reg-row input[type="text"], input[type="password"], input[type="number"]{
	display: inline-block;
	width: 290px;
	height: 37px;
	line-height: 37px;
	padding: 0 10px;
	font-size: 13px;
	border-radius: 4px;
	color: #fff;
	border: none;
	outline: none;
	background: #1e3665;
}
.registerBtn {
	width: 170px;
	height: 40px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	margin-top: 12px;
	border-radius: 6px;
	font-size: 15px;
	outline: none;
	border-bottom: 5px solid #97191f;
	background: #ce2129;
}
.userName:before {
    padding-right: 5px;
}


/*Logout CSS Here*/

.logoutScrn h2 {
	padding: 30px 0 0;
	color: #12214e;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}
.buttonsRow {
	clear: both;
	padding: 30px 0 40px;
	text-align: center;
}
.buttonsRow button {
	display: inline-block;
	width: 153px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	margin: 0 10px;
	border-bottom: 4px solid transparent;
}
.btnYes {
	border-color: #16690b;
	background: #19810b;
}
.btnCancel {
	border-color: #6c6c6c;
	background: #9e9d9d;
}
#log-outPop.lightbox-min {
	border-radius: 5px;
	border-color: #f1f1f1;
    overflow: hidden;
}

/*Relief CSS Here*/

.relief-min .scrollSec  {
	padding: 15px 0 0;
}
.relief-min h2 {
	color: #0c173a;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
}
.relief-min h2 span {
	display: block;
	color: #626262;
	line-height: 18px;
	font-size: 14px;
}
.relief-min h3 {
	color: #9c9c9c;
	font-size: 15px;
	line-height: 35px;
	text-align: center;
	margin: 15px 0 0;
}
.relief-min h3 span {
	display: inline-block;
	border-top: 2px solid #f4f4f4;
}
.reliefSection {
	clear: both;
	padding: 20px 0 0 0;
}
.reliefSection h4 {
	color: #1a2443;
	font-size: 15px;
	padding: 10px 15px;
	background: #f1f1f1;
}
.reliefSection ul {
	clear: both;
	padding: 10px 15px;
}
.reliefSection ul li {
	list-style: none;
	padding: 12px 0 0;
}
.reliefSection ul li:first-child {
	padding-top:0; 
}
.reliefSection ul li label {
	position: relative;
	padding: 0 10px 0 23px;
	font-size: 14px;
	display: inherit;
}
.reliefSection ul li input[type="checkbox"]{
	display: none;
}
.reliefSection ul li span {
	position: absolute;
	left: 0;
	top: 1px;
	width: 12px;
	height: 12px;
	border:1px solid #6e7486;
}
.reliefSection ul li input[type="checkbox"]:checked + span {
	border:1px solid #32650c;
}
.reliefSection ul li input[type="checkbox"]:checked ~ strong {
	color: #32650c;
}
.reliefSection ul li input[type="checkbox"]:checked + span::before {
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	width: 6px;
	height: 3px;
	border: 2px solid #32650c;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.lightboxrelief {
	position: fixed;
    margin: auto;
    box-sizing: border-box;
    z-index: 99999;
    overflow: hidden;
	overflow-y:auto;
	width:90%;
	max-width: 636px;
	box-sizing: border-box;
	border:5px solid #f1f1f1;
	transition: all 0.5s ease-in;
	border-radius: 5px;
	background: #fff;
}
.reliefSignSection {
	overflow:hidden;
	margin-top: 10px;
	padding: 0 45px 15px;
	border-radius: 0 0 5px 5px;
	background: #12214e;
}
.reliefSignRow1 {
	clear: both;
	padding: 10px 0 10px;
}
.reliefSignRow1 button {
	float: left;
	width: 150px;
	height: 35px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin: 10px 25px 0 0;
	border-bottom: 3px solid transparent;
	background: none;
}
.reliefSignRow1 .allow {
	border-color: #116007;
	background: #19810b;
}
.reliefSignRow1 .cancel {
	border-color: #6c6c6c;
	background: #9e9d9d;
}
.signLogo {
	float: right;
}
.reliefSignRow1 h5 {
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 25px;
}
.reliefField {
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	line-height: 35px;
	outline: none;
	border:none;
	border-radius: 5px; 
	height: 35px;
	font-size: 13px;
	font-weight: 700;
	background: #fff;
}
.reliefSignRow1 .col-lg-6 label {
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	clear: both;
}
.reliefField::-webkit-input-placeholder {
  color: #12214e;
}
.reliefField::-moz-placeholder{
  color: #12214e;
}
.reliefField:-ms-input-placeholder{
  color: #12214e;
}
.reliefField:-moz-placeholder { 
  color: #12214e;
}
.userDetail {
	clear: both;
	padding: 0 19px 0 0;
}
.userNm {
	float: right;
	margin: 0 0 10px;
	color: #32650c;
	font-size: 14px;
	position: relative;
}
.userNm ul {
	position: absolute;
	top: 29px;
	right: -9px;
	width: 200px;
	border-radius: 5px;
	background: #d8d8d8;
}
.userNm ul::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 2px;
	width: 0;
	height: 0;
	border-bottom: 14px solid #d8d8d8;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
}
.userNm ul li {
	line-height: 40px;
	border-top: 1px solid #ffffff;
	color: #333;
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0 10px;
	list-style: none;
}
/*Registration CSS Here*/

.regiFormSection {
	clear: both;
	padding: 25px 15px 0;
}
.regiFormSection .form-row label {
	color: #12214e;
	font-size: 17px;
	line-height: 35px;
	font-weight: 700;
	display: block;
	text-align: right;
}
.regiFormSection .form-row input {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	padding: 0 10px;
	outline: none;
	color: #333;
	box-sizing: border-box;
	border-radius: 4px;
	border:1px solid #12214e;
	background: #f2f2f2;
}
#requesttimePeriod {
    width: 140px;
    height: 32px;
    border-radius: 4px;
}
.allowedUsr1 {
    border-radius: 4px;
    overflow: hidden;
    border-right:1px solid #ccc;
}
.allowedUsr1, .patientData, .patientData1, .patientData2, .patientData3 {
    width:100%;
    text-align:center;
}
.patientData, .patientData1, .patientData2, .patientData3 {
    border-top:1px solid #ccc;
    background: #fff;
}
.allowedUsr1 th,.allowedUsr1 td, .patientData th, .patientData td, .patientData1 th, .patientData1 td, .patientData2 th, .patientData2 td, .patientData3 th, .patientData3 td {
    border-left:1px solid #ccc;
    padding:6px 8px;
    text-overflow:ellipsis;
    overflow:hidden;
    font-weight:400;
    white-space:nowrap;
}
.allowedUsr1 td, .patientData th, .patientData td, .patientData1 td, .patientData2 td, .patientData3 td {
     border-bottom:1px solid #ccc;
}
.allowedUsr1 thead {
    color:#fff;
    background:#3b3b3b;
}
.allowedUsr1 tbody tr:nth-child(2n+1) {
    background:#e7ecee;
}
.allowedUsr1 .accessType {
    min-width:130px;
    height:26px;
    border:1px solid #ccc;
    padding: 0 7px;
    color:white;
    border-radius:3px;
    outline:none;
    cursor:pointer;
    background:#7a7a7a;
}
.lightbox-allowedUsr h2 {
    text-align: center;
    font-size: 19px;
    padding-bottom: 10px;
}

.noAccess {
    text-align: center;
    padding: 25px;
}

.mailPop, .mailPop1 {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  max-height:180px;
  margin: -65px 0 0 -235px;
  width: 470px;
  text-align:center;
  box-sizing:border-box;
  padding: 15px 30px 10px 30px;
  z-index: 9999999;
  border-radius: 6px;
  background: #ffffff;
}
.registerMail, .registerMail1 {
    overflow:hidden;
}
.registerMail .mailPop, .registerMail1 .mailPop1 {
  display: block;
}
.mailPop h2, .mailPop1 h2 {
  font: 400 25px/30px 'Droid Serif', serif;
  margin: 2px 0 0 0;
}
.mailPop h2 span, .mailPop1 h2 span {
    height:25px;
    display:block;
    padding:5px 0 0 0;
}
.mailPop h2 span.success, .mailPop1 h2 span.success {
    background:url('../content/images/successIcon.png') no-repeat center top;
    padding-top: 20px;
}
/*.mailPop h2 span.error {
    background:url('../content/images/error.png') no-repeat center top;
}*/
/*.mailPop h2 img {
  margin-right: 20px;
}*/
.mailPop .popUpContent, .mailPop1 .popUpContent1 {
  width: 100%;
  padding:5px 0px 20px 0;
  color:#242323;
}
.popUpContent h3, .popUpContent1 h3 {
    color:#39425f;
    font: 400 18px/30px 'Droid Serif', serif;
    margin-top: 10px;
}
.popUpContent hr, .popUpContent1 hr {
    background:#d6d6d6;
    margin: 10px 0;
}
.popUpContent p, .popUpContent1 p {
   font: 400 15px/24px 'Droid Serif', serif;
}
.popUpContent h4, .popUpContent1 h4 {
    font: 700 22px/30px 'Droid Serif', serif;
    margin-bottom: 0;
}
.popUpContent a, .popUpContent1 a {
    color:#418e21;
    text-decoration:none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.notNow, .ok {
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  clear:both;
  width:120px;
  display:block;
  border-radius:6px;
  margin:0 auto 0;
  font: 400 16px/40px 'Droid Serif', serif;
  background: #19810b;
  text-transform: uppercase;
}
.ok {
    display: inline-block;
}
.nocancel {
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  clear:both;
  width:120px;
  display:inline-block;
  border-radius:6px;
  margin:0 auto 0;
  font: 400 16px/40px 'Droid Serif', serif;
  background: #ce2129;
  text-transform: uppercase;
}
.pageShadow, .pageShadow1 {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  background: rgba(0,0,0,0.5);
}
.registerMail .pageShadow,.errorPopUp .pageShadow, .registerMail1 .pageShadow1,.errorPopUp1 .pageShadow1 {
  display: block;
  z-index: 99999;
  background: rgba(0,0,0,0.9);
}
.successPopUp .pageShadow, .successPopUp1 .pageShadow1 {
  display: block;
  z-index: 9999;
  background: rgba(0,0,0,0.9);
}
.scopeUser {
    color: blue;
    font-weight: 600;
}
.cnfBtns {
    display: inline-block;
}
/*New Screen Update*/

.viewUserList {
    margin: 0;
}
.viewUserList li {
    width: 50%;
    padding: 10px 10px;
}
.contentRight .userList {
    display: none;
}
.contentRight .sec-heading {
   margin-top: 5px; 
   cursor: pointer;
}
.contentRight > .sec-heading:first-child {
    margin-top: 0;
}
.viewUserList .usrPic {
    width: 25px;
    height: 25px;
    margin-right: 3px;
    line-height: normal;
    color: #1e3665;
    font-size: 15px;
    background: none;
}
.viewUserList .listGrid h5 {
    color: #1e3665;
    line-height: 12px;
    padding-right: 14px;
}
.viewUserList .listGrid strong {
    font-size: 12px;
    line-height: 12px;
}
.r_access {
    line-height: 24px;
    color: #fff;
    padding: 2px 7px;
    margin: 0 -7px -5px;
    font-size: 13px;
    background: #ce2129;
}
.r_access .fa {
    float: right;
    margin-top: 5px;
}
.switchSec {
    position: relative;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    margin: 5px -7px 0;
    padding: 0 7px;
    background: #1e3665;
}
.switchSec .fa {
    float: right;
    margin-top: 5px;
    transform: rotate(90deg);
}
.usrName {
    color: #1e3665;
    font-size: 14px;
    line-height: 18px;
    clear: both;
    text-align: right;
    padding: 7px 0 0 0;
    font-weight: bold;
}
.provider {
    width: 167px;
    padding: 8px 0 0 0;
    position: relative;
    font-weight: bold;
}
.providerLabel {
    position: relative;
    height: 25px;
    cursor: pointer;
    border-radius: 8px;
    line-height: 25px;
    color: #1e3665;
    font-size: 14px;
    padding: 0 10px;
    background: #fff;
}
.providerLabel::after {
    content: '';
    position: absolute;
    right: 7px;
    top: 9px;
    border-top: 7px solid #1e3665;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.providerList {
    display: none;
    position: absolute;
    right: 2px;
    top: 100%;
    margin-top: 10px;
    width: 220px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 99;
}
.viewType {
    cursor: pointer;
}
.providerList::before {
    content: '';
    position: absolute;
    right: 5px;
    top: -7px;
    border-bottom: 7px solid #ccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.providerList li {
    list-style: none;
    line-height: 30px;
    padding: 0 7px;
    cursor: pointer;
    font-size: 13px;
    border-top: 1px solid #f2f2f2;
}
.providerList li:first-child {
    border: none;
}