@{
    ViewBag.Title = "Client - Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/medg/css/font-awesome.min.css">
<style>
    body {
        font-family: Arial;
    }

    table thead tr:first-child td:first-child {
        border-top-left-radius: 10px;
    }

    table thead tr:first-child td:last-child {
        border-top-right-radius: 10px;
    }

    table td, table th {
        font-size: 16px;
        padding: 8px 10px;
        border-bottom: 1px solid #fafafa;
    }

    .patientDetailsSec h4 {
        color: white;
        margin: 0;
        font-size: 18px;
        padding: 0 10px;
        line-height: 38px;
        text-align: center;
        border-radius: 5px 5px 0 0;
        background-color: dodgerblue;
    }

    .cls-order {
        display: block;
        width: 100px;
        margin: auto;
        line-height: 36px;
        padding: 0 12px;
        box-sizing: border-box;
        border-radius: 25px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        background: #75baff;
    }

        .cls-order i {
            margin-right: 10px;
        }
</style>
<div style="width:100%;text-align:center;"><h3>Relief Express</h3></div>
<br /><br />
<div>
    @ViewBag.Messg
</div>
<div style="width:100%;" class="patientDetailsSec">
    <h4>Patient List</h4>
    <table style="width:100%;">
        <thead style="">
            <tr style="background-color:rgba(153, 153, 153, 0.66);color:white;">
                <th>Patient Id</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Intake Date</th>
                <th>Attending Physician</th>
                <th>Details (Secured)</th>
            </tr>
        </thead>
        <tbody style="background-color:#e5e5e5;">
            <tr>
                <td>RE0987689-045</td>
                <td>John Milton</td>
                <td>03/23/1943</td>
                <td>Male</td>
                <td>12/02/2016</td>
                <td>Mel Brooks, MD</td>
                <td><a class="cls-order" data-myid="John" style="cursor:pointer;text-decoration:none;"><i class="fa fa-lock" aria-hidden="true"></i> View</a></td>
            </tr>
            <tr>
                <td>RE3456232-267</td>
                <td>Andrea Jones</td>
                <td>11/21/1954</td>
                <td>Female</td>
                <td>01/04/2017</td>
                <td>Steven Gold, MD</td>
                <td><a style="cursor:pointer;text-decoration:none;" data-myid="Andrea" class="cls-order"><i class="fa fa-lock" aria-hidden="true"></i> View</a></td>
            </tr>
            <tr>
                <td>RE7356498-267</td>
                <td>Bob Brown</td>
                <td>06/11/1965</td>
                <td>Male</td>
                <td>11/06/2016</td>
                <td>Sven Fly, MD</td>
                <td><a style="cursor:pointer;text-decoration:none;" data-myid="Bob" class="cls-order"><i class="fa fa-lock" aria-hidden="true"></i> View</a></td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts {
    <script>
        $(".cls-order").on("click", function () {
            window.location = "/Home/Secure?patid=" + $(this).data("myid");
            //$('#detailsview').load("Home/GetData", { searchText: "Lord Jesus my Protector" });
            //$.ajax("Home/GetData")
            //  .done(function (data) {
            //      alert(data);
            //  })
            //  .fail(function (err, err1, err2) {
            //      alert("error");
            //  })
            //  .always(function (data) {
            //      //alert("complete");
            //  });
        })
    </script>
}