<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relief Express</title>
    <link rel="stylesheet" type="text/css" href="~/Content/medg/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial;
        }

        table thead tr:first-child td:first-child {
            border-top-left-radius: 10px;
        }

        table thead tr:first-child td:last-child {
            border-top-right-radius: 10px;
        }

        table td, table th {
            font-size: 16px;
            padding: 8px 10px;
            border-bottom: 1px solid #fafafa;
        }

        .patientDetailsSec h4 {
            color: white;
            margin: 0;
            font-size: 18px;
            padding: 0 10px;
            line-height: 38px;
            text-align: center;
            border-radius: 5px 5px 0 0;
            background-color: dodgerblue;
        }

        .cls-order {
            display: block;
            width: 100px;
            margin: auto;
            line-height: 36px;
            padding: 0 12px;
            box-sizing: border-box;
            border-radius: 25px;
            text-decoration: none;
            color: white;
            font-size: 16px;
            background: #75baff;
        }

            .cls-order i {
                margin-right: 10px;
            }
    </style>
</head>
<body>
    <br />
    <div style="width:100%;text-align:center;"><h3>Relief Express</h3></div>
    <br />
    <div>
        @ViewBag.Messg
    </div>
    <div style="width:100%;" class="patientDetailsSec">
        <h4>Patient List</h4>
        <div style="position:relative;">
            <div style="float:left;height:100%;width:25%;background-color:aliceblue;">
                <h3>Accounts</h3>
                <table id="tblact"></table>
            </div>
            <div style="float:left;height:100%;width:25%;background-color:antiquewhite;">
                <h3>Observation</h3>
                <table id="tblobs"></table>
            </div>
            <div style="float:left;height:100%;width:25%;background-color:aliceblue;">
                <h3>Medication</h3>
                <table id="tblmed"></table>
            </div>
            <div style="float:left;height:100%;width:25%;background-color:antiquewhite;">
                <h3>Patient</h3>
                <table id="tblpat"></table>
            </div>
        </div>
    </div>
    <script src="~/Content/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Content/encoder.min.js" type="text/javascript"></script>
    <script>
        var tt = JSON.parse('@Html.Raw(ViewBag.Model)');
        if (tt.Acct1 && Array.isArray(tt.Acct1)) {
            (tt.Acct1 || []).forEach(function (item) {
                $("#tblact").append("<tr><td><a href='#'>" + item.NameElement.Value + "</a></td></tr>");
            });
        }
        else {
            $("#tblact").append("<tr><td>" + tt.Acct1 + "</td></tr>");
        }
        if (tt.Obsr1 && Array.isArray(tt.Obsr1)) {
            (tt.Obsr1 || []).forEach(function (item) {
                $("#tblobs").append("<tr><td><a href='#'>" + item.IdElement.Value + "</a></td></tr>");
            });
        }
        else {
            $("#tblobs").append("<tr><td>" + tt.Obsr1 + "</td></tr>");
        }
        if (tt.Medi1 && Array.isArray(tt.Medi1)) {
            (tt.Medi1 || []).forEach(function (item) {
                $("#tblmed").append("<tr><td><a href='#'>" + item.IdElement.Value + "</a></td></tr>");
            });
        }
        else {
            $("#tblmed").append("<tr><td>" + tt.Medi1 + "</td></tr>");
        }
        if (tt.Pati1 && Array.isArray(tt.Pati1)) {
            (tt.Pati1 || []).forEach(function (item) {
                $("#tblpat").append("<tr><td><a href='#'>" + item.Name[0].FamilyElement[0].Value + "</a></td></tr>");
            });
        }
        else {
            $("#tblpat").append("<tr><td>" + tt.Pati1 + "</td></tr>");
        }
        $(".cls-order").on("click", function () {
            window.location = "/Home/Secure?patid=" + $(this).data("myid");
            //$('#detailsview').load("Home/GetData", { searchText: "Lord Jesus my Protector" });
            //$.ajax("Home/GetData")
            //  .done(function (data) {
            //      alert(data);
            //  })
            //  .fail(function (err, err1, err2) {
            //      alert("error");
            //  })
            //  .always(function (data) {
            //      //alert("complete");
            //  });
        });
        window.identityServer = (function () {
            "use strict";
            var identityServer = {
                getModel: function () {
                    var modelJson = document.getElementById("modelJson");
                    var encodedJson = '';
                    if (typeof (modelJson.textContent) !== undefined) {
                        encodedJson = modelJson.textContent;
                    } else {
                        encodedJson = modelJson.innerHTML;
                    }
                    var json = Encoder.htmlDecode(encodedJson);
                    var model = JSON.parse(json);
                    return model;
                }
            }

            return identityServer;
        })();
        var html = "";
        var extractData = function (data) {
            if (Array.isArray(data)) {
                (data).forEach(function (item) {
                    extractData(item);
                });
            }
            for (key in data) {
                if (data.hasOwnProperty(key)) {
                    if ("ActiveElement".indexOf(key) > -1) {
                        html = html + "<br /><hr />" + key;
                    }
                    if ("Address^Animal^Breed^BirthDateElement^CareProvider".indexOf(key) > -1) {
                        html = html + "<br />" + key;
                    }
                    if (isNaN(key) && data[key] && typeof (data[key]) == "string" || typeof (data[key]) == "number") {
                        html = html + data[key].toString();
                    }
                    else if (typeof (data[key]) == "function") {

                    }
                    else {
                        extractData(data[key]);
                    }
                }
            }
        }
    </script>
</body>
</html>
