
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%;width:100%;overflow: hidden;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Callback</title>
</head>
<body style="height:100%;width:100%;overflow: hidden;">
    <div style="height:100%;width:100%;overflow: hidden;"> 
        <h2>Loading....</h2>
    </div>
</body>
</html>
