@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Medgrotto by SMS</title>
    <link href="/Content/medg/css/main.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="#"><img src="/Content/medg/images/MG Logo.png" /></a></div>
        <button>
            <a href="/core/permissions" style="color: white;">Sign In</a>
        </button>
        <button style="background-color: #1d3665;margin-right: 10px;">
            <a href="/home/registration" style="color: white;">Sign Up</a>
        </button>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Take Control of Your Health Info</h1>
                <p>Access your health data wherever it is stored.<br />Share via MedGrotto with whomever you choose.</p>
            </header>
            <a href="#main" class="button big scrolly">Learn More</a>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <!-- 2 Columns -->
                <div class="flex flex-2">
                    <div class="col col1">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="/Content/medg/images/pic01.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>Your Hospital Records</h3>
                        <p>Your health is handled by different healthcare entities during your lifetime. Each time you get treated by a Provider or get admitted to a healthcare facility, the diagnoses and clinical interactions are documented and stored. These records can be invaluable in positively affecting healthcare outcomes.  </p>
                        <p>For example, your medical history could be a critical factor when you are being treated in an emergent situation. MedGrotto gives you the ability to choose when and with whom you choose to share your health records.  </p>
                        <a href="#" class="button">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section -->
        <section class="wrapper style2">
            <div class="inner">
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Your Smart Apps</h3>
                        <p>Technology is increasingly utilized to monitor and track your health. Apart from fitness apps, many other clinical monitoring gadgets can now be connected to a smartphone or PC and readings can be tracked and analyzed for improved overall health and fitness.</p>
                        <p>MedGrotto can make this information available to your Physician or any other healthcare entity based on your assent. </p>
                        <a href="#" class="button">Learn More</a>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit smartApp">
                            <a href="generic.html" class="link"><img src="/Content/medg/images/pic022.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>The MedGrotto Advantage</h2>
                    <p>Physicians. Payors. Caregivers. MedGrotto can benefit every stakeholder in the Healthcare spectrum.</p>
                </header>
                <div class="flex flex-3">
                    <div class="col align-center">
                        <div class="image round fit bottomImage1">
                            <img src="/Content/medg/images/pic031.jpg" alt="" />
                        </div>
                        <p>Access a Patient's data can provide the Physician with critical insight into his health. The resultant care can positively impact outcomes and enhance quality of treatment. </p>
                        <a href="#" class="button">Learn More</a>
                    </div>
                    <div class="col align-center">
                        <div class="image round fit bottomImage2">
                            <img src="/Content/medg/images/pic052.jpg" alt="" />
                        </div>
                        <p>Visibity in to a Patient's health data can help Payors identify high cost members and manage risks. Avoidance of redundant tests can also drive down costs. </p>
                        <a href="#" class="button">Learn More</a>
                    </div>
                    <div class="col align-center">
                        <div class="image round fit bottomImage3">
                            <img src="/Content/medg/images/pic041.jpg" alt="" />
                        </div>
                        <p>Patients can nominate a family member to manage their health info and take decisions when needed. They can also be notified in emergent situations. </p>
                        <a href="#" class="button">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy;2017 MedGrotto. All Rights Reserved.</a>.</p>
        </div>
    </footer>
    <script src="/Content/medg/js/jquery-1.12.4.min.js"></script>
</body>
</html>