@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>UMA</title>
	<meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/Content/medg/css/style.css">
	<link rel="stylesheet" type="text/css" href="/Content/medg/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/Content/medg/css/font-awesome.min.css">
</head>
<body>
    <div class="loginMain">
        <div class="loginScreen1">
            <div class="container">
                <a href="#" class="loginLogo" style="width: 90px;"><img src="~/Content/medg/images/login-logo.png" /></a>
            </div>
        </div>
        <div class="registerSec">
            <div class="regHead">
                <div class="container">
                    <h2><a class="btnHome" href="/"><i class="fa fa-home" aria-hidden="true" style="padding-right: 5px;"></i></a>Welcome to MedGrotto!</h2>
                </div>
            </div>
            <div class="container regisCntnr">
                <form class="regForm">
                    <div class="col-lg-6">
                    <div class="reg-row">
                        <input type="text" placeholder="First Name" name="firstName" class="form-control firstName">
                    </div>
                    <div class="reg-row">
                        <input type="text" placeholder="Last Name" name="lastName" class="form-control lastName">
                    </div>
                    <div class="reg-row">
                        <input type="email" placeholder="Email" name="email" class="form-control emailVal">
                    </div>
                    <div class="reg-row">
                        <input type="text" placeholder="Phone Number" name="phoneNumber" class="form-control phoneNumber">
                    </div>
                    <div class="reg-row">
                        <input type="password" placeholder="Password" name="password" class="form-control password">
                    </div>
                    <div class="reg-row">
                        <textarea placeholder="Address" name="address" class="form-control address"></textarea>
                    </div>
                </div>
                    <div class="col-lg-6">
                    <div class="questionBlock">
                        <h3>Answer at least 3 questions</h3>
                        <ul>
                            <li>
                                <p>1) What was the make and model of your first car?</p>
                                <div><input type="text" class="ans1"></div>
                            </li>
                            <li>
                                <p>2) In what city or town does your nearest sibling live?</p>
                                <div><input type="text" class="ans2"></div>
                            </li>
                            <li>
                                <p>3) What was your favorite subject in school?</p>
                                <div><input type="text" class="ans3"></div>
                            </li>
                            <li>
                                <p>4) What was the name of the area you lived in as a child?</p>
                                <div><input type="text" class="ans4"></div>
                            </li>
                            <li>
                                <p>5) What is your favorite fantasy character?</p>
                                <div><input type="text" class="ans5"></div>
                            </li>
                            <li>
                                <p>6) What was your first phone number?</p>
                                <div><input type="text" class="ans6"></div>
                            </li>
                            <li>
                                <p>7) What was your favorite vacation spot as a child?</p>
                                <div><input type="text" class="ans7"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="reg-row">
                                    <label style="color:white;display:initial;"><input type="checkbox" name="role" class="form-control role" value="" style="width:initial;"> Are you a doctor?</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="reg-row">
                                    <input type="text" placeholder="NPI" name="NPI" class="form-control npi" style="display: none;">
                                </div>
                            </div>
                        </div>
                        <div class="reg-row">
                            <button class="registerBtn" onclick="return CreateUser()">Register</button>
                            <div class="errorMessage"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="loginPush"></div>
    </div>
    <div class="loginFooter">All rights reserved &copy; 2017</div>
	<!--<div class="lightboxrelief relief-min">
        <div class="scrollSec">
        	<h2>Registration</h2>
        	<div class="regiFormSection">
        			<div class="form-row">
        				<div class="row">
        					<div class="col-lg-4">
        						<label>Firstname</label>
        					</div>
        					<div class="col-lg-8">
        						<input type="text" name="firstName" class="firstName">
        					</div>
        				</div>
        			</div>
        			<div class="form-row">
        				<div class="row">
        					<div class="col-lg-4">
        						<label>Lastname</label>
        					</div>
        					<div class="col-lg-8">
        						<input type="text" name="lastName" class="lastName">
        					</div>
        				</div>
        			</div>
        			<div class="form-row">
        				<div class="row">
        					<div class="col-lg-4">
        						<label>Email</label>
        					</div>
        					<div class="col-lg-8">
        						<input type="email" name="email" class="emailVal">
        					</div>
        				</div>
        			</div>
        			<div class="form-row">
        				<div class="row">
        					<div class="col-lg-4">
        						<label>Phone Number</label>
        					</div>
        					<div class="col-lg-8">
        						<input type="number" name="phoneNumber" class="phoneNumber">
        					</div>
        				</div>
        			</div>
        			<div class="form-row">
        				<div class="row">
        					<div class="col-lg-4">
        						<label>password</label>
        					</div>
        					<div class="col-lg-8">
        						<input type="password" name="password" class="password">
        					</div>
        				</div>
        			</div>
                    <div class="form-row">
        				<div class="row">
        					<div class="col-lg-4">
        						<label></label>
        					</div>
                            <div class="col-lg-6">
                                <div class="errorMessage">
                                </div>
                            </div>
        				</div>
        			</div>
        		</div>
        	<div class="reliefSignSection">
        		
        		<div class="reliefSignRow1">
        			<button class="allow" onclick="return CreateUser()">SignUp</button>
        			<a href="#" class="signLogo"><img src="/Content/medg/images/reliefSignlogo.png" /></a>
        		</div>
        	</div>
        </div>
    </div>
	<div class="popupShadow" style="display:block"></div>-->
    <script src="/Content/medg/js/jquery-1.12.4.min.js"></script>
    <script src="/Content/medg/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript">
		(function(){
			init();
			function init(){
				 responsive();
			};

			function responsive(){
		        var Ww = $(window).outerWidth();
		        Wh = $(window).outerHeight();
		         curElemWid = $(".lightboxrelief").outerWidth(),
		        curElemHih = $(".lightboxrelief").outerHeight(),
		        contentHh = Wh - curElemHih,
	          	 lightContbox = $(".lightboxrelief");	

		        //console.log(roundVal)
		        if(contentHh <0){
		           contentHh = 40;
		          }
		        $(lightContbox).css({
		              top: contentHh / 2,
					  left: (Ww - curElemWid)/2
		          });

		        if($(curElemHih) > Wh){
		          $(set.lightCont).css({
		            maxHeight:Wh-20,
					      height:"100%"
		          });
		        }else{
		    			$(lightContbox).css({
		              maxHeight:Wh-20,
		    			    height:"auto",               
		          });	
				    }

		      }


			$(window).on('resize',function(eve) {
		        responsive();
		        //responsive();
		       setTimeout(responsive, 600);
		       });
			

		})();

		function CreateUser() {
		    var count = 0;
		    count += $(".ans1").val().length > 0 ? 1 : 0;
		    count += $(".ans2").val().length > 0 ? 1 : 0;
		    count += $(".ans3").val().length > 0 ? 1 : 0;
		    count += $(".ans4").val().length > 0 ? 1 : 0;
		    count += $(".ans5").val().length > 0 ? 1 : 0;
		    count += $(".ans6").val().length > 0 ? 1 : 0;
		    count += $(".ans7").val().length > 0 ? 1 : 0;

		    if (!$('.firstName').val() || !$('.lastName').val() || !$('.emailVal').val() || !$('.phoneNumber').val() || isNaN($('.phoneNumber').val()) || $('.phoneNumber').val().length != 10 || !$('.password').val() || $('.address').val().length < 10)
		    {
		        $(".errorMessage").html("Enter All Fields.");
		        $(".errorMessage").css("color", "red");
		    } else if ($('.role').is(":checked") && $('.npi').val().length == 0) {
		        $(".errorMessage").html("Enter NPI.");
		        $(".errorMessage").css("color", "red");
		    }else if(count <  3){
		        $(".errorMessage").html("Answer Atleast 3 Questions");
		        $(".errorMessage").css("color", "red");
		    } else {
		        var formData = {
		            'firstName': $('.firstName').val(),
		            'lastName': $('.lastName').val(),
		            'email': $('.emailVal').val(),
		            'password': $('.password').val(),
		            'phoneNumber': $('.phoneNumber').val(),
		            'provider': $('.role').is(":checked"),
		            'npi': $('.npi').val(),
		            'address': $('.address').val(),
		            'ans1': $(".ans1").val(),
		            'ans2': $(".ans2").val(),
		            'ans3': $(".ans3").val(),
		            'ans4': $(".ans4").val(),
		            'ans5': $(".ans5").val(),
		            'ans6': $(".ans6").val(),
		            'ans7': $(".ans7").val(),
		        };

		        $.ajax({
		            url: "/Service/Registration",
		            type: "post",
		            data: formData,
		            success: function (responseData) {
		                if (responseData == "exists") {
		                    $(".errorMessage").html("Email already exists.");
		                    $(".errorMessage").css("color", "red");
		                } else {
		                    $(".errorMessage").html("Successfully Registered.");
		                    $('.firstName').val(""),
                            $('.lastName').val(""),
                            $('.emailVal').val(""),
                            $('.password').val(""),
                            $('.phoneNumber').val(""),
                            $('.address').val(""),
                            $('.npi').val(""),
                            $(".ans1").val(""),
                            $(".ans2").val(""),
                            $(".ans3").val(""),
                            $(".ans4").val(""),
                            $(".ans5").val(""),
                            $(".ans6").val(""),
                            $(".ans7").val("")
		                }
		            }
		        });
		    }
		    return false;
		};
		$(".loginMain").closest("body").addClass("login");
		$('.questionBlock ul').slimScroll({
		    "height": "324px"
		});
		$(".role").on("change", function () {
		    if ($(this).is(":checked")) {
		        $(".npi").show();
		        $(".npi").val("");
		        $('.regisCntnr .reg-row label').css({
		            "float": "left", "margin": "0"
		        });
		    } else {
		        $(".npi").hide();
		        $('.regisCntnr .reg-row label').css({
		            "float": "right", "margin": "0 -72px 0 0"
		        });
		    }
		});
		//$('.slimScrollDiv').hide();
	</script>
</body>
</html>