
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <title>Add Scopes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/medg/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container-liquid {
            padding-left: 15px;
            padding-right: 15px;
        }

        .tablesSec .table td, .tablesSec .table th {
            min-width: 100px;
            word-break: break-word;
        }
    </style>
</head>
<body>
    <div class="container-liquid">
        <div class="tablesSec">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>Scopes Table <button class="btn btn-info pull-right addScope" data-toggle="modal" data-target="#myModal">Add Scope</button></h2>
                    <div class="table-responsive">
                        <table class="table scopesTable table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>DisplayName</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        </div>
                    </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>Clients Table <button class="btn btn-info pull-right addClient" data-toggle="modal" data-target="#addClientsModal">Add Client</button></h2>
                    <div class="table-responsive">
                        <table class="table clientsTable table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Scopes</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Scope</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="usr">Name:</label>
                                <input type="text" class="form-control name">
                            </div>
                            <div class="form-group">
                                <label for="usr">Display Name:</label>
                                <input type="text" class="form-control displayName">
                            </div>
                            <div class="form-group">
                                <label for="usr">Description:</label>
                                <input type="text" class="form-control description">
                            </div>
                            <div class="form-group">
                                <label for="usr">Type:</label>
                                <select class="form-control type">
                                    <option value="Select">Select</option>
                                    <option value="Resources">ScopeType.Resource</option>
                                    <option value="Identity">ScopeType.Identity</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Emphasize:</label>
                                <select class="form-control emphasize">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Claims Name:</label>
                                <select class="form-control claimsName">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Claims FamilyName:</label>
                                <select class="form-control claimsFamilyName">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Claims Given Name:</label>
                                <select class="form-control claimsGivenName">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Claims Email:</label>
                                <select class="form-control claimsEmail">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" class="scopeCheckBox" value="">Enable</label>
                            </div>
                            <button class="btn btn-primary addScopeObj" onclick="return addScope()">Submit</button>
                            <button class="btn btn-primary updateScopeObj" onclick="return updateScope()">Update</button>
                            <div class="errorMessage" style="padding-top: 10px; color:green;"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger popup" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div id="addClientsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Client</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="usr">Client Id:</label>
                                <input type="text" class="form-control clientId">
                            </div>
                            <div class="form-group">
                                <label for="usr">Client Name:</label>
                                <input type="text" class="form-control clientName">
                            </div>
                            <div class="form-group">
                                <label for="usr">Flows:</label>
                                <select class="form-control flow">
                                    <option value="Select">Select</option>
                                    <option value="AuthorizationCode">AuthorizationCode</option>
                                    <option value="Implicit">Implicit</option>
                                    <option value="Hybrid">Hybrid</option>
                                    <option value="ClientCredentials">ClientCredentials</option>
                                    <option value="ResourceOwner">ResourceOwner</option>
                                    <option value="Custom">Custom</option>
                                    <option value="AuthorizationCodeWithProofKey">AuthorizationCodeWithProofKey</option>
                                    <option value="HybridWithProofKey">HybridWithProofKey</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">AllowedScopes:</label>
                                <input type="button" class="btn btn-default clientCheckAll" value="Check All">
                                <input type="button" class="btn btn-default clientUnCheckAll" value="UnCheck All">
                                <div class="clientAllowedScopes"></div>
                            </div>
                            <div class="form-group">
                                <label for="usr">Redirect Uris:</label>
                                <input type="text" class="form-control redirectUris">
                            </div>
                            <div class="form-group">
                                <label for="usr">Post Logout Redirect Uris:</label>
                                <input type="text" class="form-control postLogoutRedirectUris">
                            </div>
                            <div class="form-group">
                                <label for="usr">Include Jwt Id:</label>
                                <select class="form-control includeJwtId">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usr">Allow Remember Consent:</label>
                                <select class="form-control allowRememberConsent">
                                    <option value="Select">Select</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" class="clientCheckBox" value="">Enable</label>
                            </div>
                            <button class="btn btn-primary addClientObj" onclick="return addClient()">Submit</button>
                            <button class="btn btn-primary updateClientObj" onclick="return updateClient()">Update</button>
                            <div class="clientErrorMessage" style="padding-top: 10px; color:green;"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger popup" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('form').removeAttr('action');
        $('form').removeAttr('action');
        var clients, scopes, scopesValues = [], currentClientIndex = -1;

        function clearScopeFields() {
            $('.name').val(""),
            $('.displayName').val(""),
            $('.description').val(""),
            $('.type').val("Select"),
            $('.emphasize').val("Select"),
            $('.claimsName').val("Select"),
            $('.claimsFamilyName').val("Select"),
            $('.claimsGivenName').val("Select"),
            $('.claimsEmail').val("Select"),
            $('.scopeCheckBox').prop("checked", false);
            $("#myModal .modal-title").html("Add Scope");
            $(".errorMessage").html("");
        }

        function clearClientFields() {
            $('.clientId').val(""),
            $('.clientName').val(""),
            $('.flow').val("Select"),
            $('.redirectUris').val(""),
            $('.postLogoutRedirectUris').val(""),
            $('.includeJwtId').val("Select"),
            $('.allowRememberConsent').val("Select"),
            $('.clientCheckBox').prop("checked", false);
            $(".clientAllowedScopes .checkbox").remove();
        }

        $(".addScope").on("click", function () {
            clearScopeFields();
            $(".addScopeObj").show();
            $(".updateScopeObj").hide();
        });

        $(".addClient").on("click", function () {
            clearClientFields();
            $(".addClientObj").show();
            $(".updateClientObj").hide();
            scopesValues.forEach(function (item) {
                $(".clientAllowedScopes").append("<div class='checkbox'><label><input type='checkbox' name='clientScopeValue' value='" + item + "'>" + item + "</label></div>");
            });
        });

        $('.clientCheckAll').click(function () {
            $('input:checkbox[name=clientScopeValue]').each(function () {
                $(this).prop('checked', true);
            });
        });

        $('.clientUnCheckAll').click(function () {
            $('input:checkbox[name=clientScopeValue]').each(function () {
                $(this).prop('checked', false);
            });
        });

        function updateScope() {
            var formData = scopeData();

            $.ajax({
                url: "/Service/UpdateScope",
                type: "post",
                data: formData,
                success: function (d) {
                    $(".errorMessage").html("Updated Successfully");
                    var index = scopesValues.indexOf(formData.name);
                    if (index > -1) {
                        $(".scopesTable tbody tr:nth-child(" + (index+1)+ ") td:nth-child(2)").html(formData.displayname);
                        $(".scopesTable tbody tr:nth-child(" + (index+1) + ") td:nth-child(3)").html(formData.type);
                    }
                    scopes[index].Name = $('.name').val();
                    scopes[index].DisplayName = $('.displayName').val();
                    scopes[index].Description = $('.description').val();
                    scopes[index].Type = $('.type').val() == "Identity" ? 1 : 0;
                    scopes[index].Emphasize = $('.emphasize').val() ? true : false;
                    scopes[index].Claims.forEach(function (item, i) {
                        if (item.Name == "name")
                            item.AlwaysIncludeInIdToken = $('.claimsName').val() == "True" ? true : false;
                        if (item.Name == "family_name")
                            item.AlwaysIncludeInIdToken = $('.claimsFamilyName').val() == "True" ? true : false;
                        if (item.Name == "given_name")
                            item.AlwaysIncludeInIdToken = $('.claimsGivenName').val() == "True" ? true : false;
                        if (item.Name == "email")
                            item.AlwaysIncludeInIdToken = $('.claimsEmail').val() == "True" ? true : false;
                    });
                    scopes[index].Enabled = $('.scopeCheckBox').is(":checked");
                }
            });
            return false;
        };

        function editScope(index) {
            clearScopeFields();
            $(".addScopeObj").hide();
            $(".updateScopeObj").show();
            $("#myModal .modal-title").html("Edit Scope");
            $("#myModal").modal('show');
            $('.name').val(scopes[index].Name);
            $('.displayName').val(scopes[index].DisplayName);
            $('.description').val(scopes[index].Description);
            $('.type').val(scopes[index].Type == 1 ? "Identity" : "Resources");
            $('.emphasize').val(scopes[index].Emphasize ? "True" : "False");
            scopes[index].Claims.forEach(function (item, i) {
                if (item.Name == "name")
                    $('.claimsName').val(item.AlwaysIncludeInIdToken ? "True" : "False");
                if (item.Name == "family_name")
                    $('.claimsFamilyName').val(item.AlwaysIncludeInIdToken ? "True" : "False");
                if (item.Name == "given_name")
                    $('.claimsGivenName').val(item.AlwaysIncludeInIdToken ? "True" : "False");
                if (item.Name == "email")
                    $('.claimsEmail').val(item.AlwaysIncludeInIdToken ? "True" : "False");
            });
            $('.scopeCheckBox').prop("checked", scopes[index].Enabled);
        };
        
        function scopeData() {
            var formData = {
                'name': $('.name').val(),
                'displayname': $('.displayName').val(),
                'description': $('.description').val(),
                'type': $('.type').val(),
                'emphasize': $('.emphasize').val(),
                'claimsName': $('.claimsName').val(),
                'claimsFamilyName': $('.claimsFamilyName').val(),
                'claimsGivenName': $('.claimsGivenName').val(),
                'claimsEmail': $('.claimsEmail').val(),
                'enable': $('.scopeCheckBox').is(":checked")
            };
            return formData;
        }
        function addScope() {
            var formData = scopeData();
               
            $.ajax({
                url: "/Service/AddScope",
                type: "post",
                data: formData,
                success: function (d) {
                    if (d == "success") {
                        scopesValues.push($('.name').val());
                        $(".scopesTable tbody").append("<tr><td style='cursor: pointer;'><a onclick='editScope(" + scopesValues.length-1 + ")'>" + item.Name + "</a></td><td>" + $('.displayName').val() + "</td><td>" + $('.type').val() + "</td></tr>");
                        $(".errorMessage").html("Successfully Inserted.");
                        scopes.push({
                            'Name': $('.name').val(),
                            'DisplayName': $('.displayName').val(),
                            'Description': $('.description').val(),
                            'Type': $('.type').val(),
                            'Emphasize': $('.emphasize').val(),
                            'ClaimsName': $('.claimsName').val(),
                            'ClaimsFamilyName': $('.claimsFamilyName').val(),
                            'ClaimsGivenName': $('.claimsGivenName').val(),
                            'ClaimsEmail': $('.claimsEmail').val()
                        });
                        clearScopeFields();
                    } else {
                        $(".errorMessage").html("Error occured try again.");
                        $(".errorMessage").css("color","red");
                    }
                }
            });

            return false;
        };

        function updateClient() {
            var formData = clientData();

            $.ajax({
                url: "/Service/UpdateClient",
                type: "post",
                data: formData,
                success: function (d) {
                    $(".clientErrorMessage").html("Updated Successfully");
                    var index = -1;
                    for (var i = 0; i < clients.length; i++) {
                        if (clients[i].ClientId == formData.clientId) {
                            index = i;
                            break;
                        }
                    }
                    if (index > -1) {
                        $(".clientsTable tbody tr:nth-child(" + (index + 1) + ") td:nth-child(2)").html(formData.clientName);
                        $(".clientsTable tbody tr:nth-child(" + (index + 1) + ") td:nth-child(3)").html(formData.allowedScopes.join(", "));
                    }
                    clients[index].ClientId = $('.clientId').val(),
                    clients[index].ClientName = $('.clientName').val(),
                    clients[index].Flow = ($('.flow').val() == 1 ? "Implicit" : (clients[index].Flow == 2 ? "Hybrid" : (clients[index].Flow == 3 ? "ClientCredentials" : (clients[index].Flow == 4 ? "ResourceOwner" : (clients[index].Flow == 5 ? "Custom" : (clients[index].Flow == 6 ? "AuthorizationCodeWithProofKey" : (clients[index].Flow == 7 ? "HybridWithProofKey" : "AuthorizationCode"))))))),
                    clients[index].RedirectUris = $('.redirectUris').val(),
                    clients[index].PostLogoutRedirectUris = $('.postLogoutRedirectUris').val(),
                    clients[index].IncludeJwtId = $('.includeJwtId').val() == "True" ? true : false,
                    clients[index].AllowRememberConsent = $('.allowRememberConsent').val() == "True" ? true : false,
                    clients[index].Enabled = $('.clientCheckBox').is(":checked");
                    var allowedScopes = [];
                    $("input:checkbox[name=clientScopeValue]:checked").each(function () {
                        allowedScopes.push($(this).val());
                    });
                    clients[index].AllowedScopes = allowedScopes;
                }
            });
            return false;
        };

        function editClient(index) {
            clearClientFields();
            $(".addClientObj").hide();
            $(".updateClientObj").show();
            $(".clientErrorMessage").html("Updated Successfully");
            $("#addClientsModal .modal-title").html("Edit Client");
            $("#addClientsModal").modal('show');
            $('.clientId').val(clients[index].ClientId),
            $('.clientName').val(clients[index].ClientName),
            $('.flow').val((clients[index].Flow == 1 ? "Implicit" : (clients[index].Flow == 2 ? "Hybrid" : (clients[index].Flow == 3 ? "ClientCredentials" : (clients[index].Flow == 4 ? "ResourceOwner" : (clients[index].Flow == 5 ? "Custom" : (clients[index].Flow == 6 ? "AuthorizationCodeWithProofKey" : (clients[index].Flow == 7 ? "HybridWithProofKey" : "AuthorizationCode")))))))),
            $('.redirectUris').val(clients[index].RedirectUris),
            $('.postLogoutRedirectUris').val(clients[index].PostLogoutRedirectUris),
            $('.includeJwtId').val(clients[index].IncludeJwtId ? "True" : "False"),
            $('.allowRememberConsent').val(clients[index].AllowRememberConsent ? "True" : "False"),
            $('.clientCheckBox').prop("checked", clients[index].Enabled);
            scopesValues.forEach(function (item) {
                if (clients[index].AllowAccessToAllScopes || clients[index].AllowedScopes.indexOf(item) != -1) {
                    $(".clientAllowedScopes").append("<div class='checkbox'><label><input type='checkbox' name='clientScopeValue' value='" + item + "' checked>" + item + "</label></div>");
                } else {
                    $(".clientAllowedScopes").append("<div class='checkbox'><label><input type='checkbox' name='clientScopeValue' value='" + item + "'>" + item + "</label></div>");
                }
            });
        };

        function clientData() {
            var allowedScopes = [];
            $("input:checkbox[name=clientScopeValue]:checked").each(function () {
                allowedScopes.push($(this).val());
            });

            var formData = {
                'clientId': $('.clientId').val(),
                'clientName': $('.clientName').val(),
                'flow': $('.flow').val(),
                'allowedScopes': allowedScopes,
                'redirectUris': $('.redirectUris').val(),
                'postLogoutRedirectUris': $('.postLogoutRedirectUris').val(),
                'includeJwtId': $('.includeJwtId').val(),
                'allowRememberConsent': $('.allowRememberConsent').val(),
                'allowAccessToAllScopes': (allowedScopes.length == scopes.length ? true : false),
                'enable': $('.clientCheckBox').is(":checked")
            };
            return formData;
        }

        function addClient() {
            var formData = clientData();

            $.ajax({
                url: "/Service/AddClient",
                type: "post",
                data: formData,
                success: function (d) {
                    if (d == "success") {
                        clients.push({
                            'ClientId': $('.clientId').val(),
                            'ClientName': $('.clientName').val(),
                            'Flow': $('.flow').val(),
                            'AllowedScopes': (allowedScopes.length == scopes.length ? [] : allowedScopes),
                            'RedirectUris': $('.redirectUris').val(),
                            'PostLogoutRedirectUris': $('.postLogoutRedirectUris').val(),
                            'IncludeJwtId': $('.includeJwtId').val(),
                            'AllowRememberConsent': $('.allowRememberConsent').val(),
                            'AllowAccessToAllScopes': (allowedScopes.length == scopes.length ? true : false)
                        });
                        if (allowedScopes.length == scopes.length) {
                            $(".clientsTable tbody").append("<tr><td>" + $('.clientId').val() + "</td><td>" + $('.clientName').val() + "</td><td>" + scopes.join(", ") + "</td></tr>");
                        } else {
                            $(".clientsTable tbody").append("<tr><td>" + $('.clientId').val() + "</td><td>" + $('.clientName').val() + "</td><td>" + allowedScopes.join(", ") + "</td></tr>");
                        }
                        $(".clientErrorMessage").html("Successfully Inserted.");
                    } else {
                        $(".clientErrorMessage").html("Error occured try again.");
                        $(".clientErrorMessage").css("color", "red");
                    }
                }
            });
            return false;
        };

        function getClients() {
            $.ajax({
                url: "/Service/GetClients",
                type: "post",
                success: function (d) {
                    clients = d;
                    d.forEach(function (item, index) {
                        if (item.AllowAccessToAllScopes) {
                            $(".clientsTable tbody").append("<tr><td style='cursor: pointer;'><a onclick='editClient(" + index + ")'>" + item.ClientId + "</a></td><td>" + item.ClientName + "</td><td>" + scopesValues.join(", ") + "</td></tr>");
                        } else {
                            $(".clientsTable tbody").append("<tr><td style='cursor: pointer;'><a onclick='editClient(" + index + ")'>" + item.ClientId + "</a></td><td>" + item.ClientName + "</td><td>" + item.AllowedScopes.join(", ") + "</td></tr>");
                        }
                        
                    });
                }
            });
        };

        function getScopes() {
            $.ajax({
                url: "/Service/GetScopes",
                type: "post",
                success: function (d) {
                    scopes = d;
                    getClients();
                    d.forEach(function (item, index) {
                        $(".scopesTable tbody").append("<tr><td style='cursor: pointer;'><a onclick='editScope(" + index + ")'>" + item.Name + "</a></td><td>" + item.DisplayName + "</td><td>" + (item.Type == 0 ? 'Identity' : 'Resource') + "</td></tr>");
                        scopesValues.push(item.Name);
                    });
                }
            });
        };
        getScopes();
    </script>
</body>
</html>
