<div class="jumbotron">
    <h3>List of Apis</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Medications</h2>
        <p>Get (api/meds)</p>
        <p>Post (api/postmed)</p>
    </div>
    <div class="col-md-4">
        <h2>Observations</h2>
        <p>Get (api/labs)</p>
        <p>Post</p>
    </div>
    <div class="col-md-4">
        <h2>Labs</h2>
        
    </div>
</div>
